{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Furniture Store{% endblock %}</title>
    <link rel="icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="icon" sizes="192x192" href="{% static 'icons/2.png' %}">
    <link rel="apple-touch-icon" href="{% static 'icons/2.png' %}">
    <meta name="theme-color" content="#007BFF">
    {% block styles %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
